/* Hero Section Styles */
.hero__section {
  display: flex;
  justify-items: center;
  margin: 8px 0 80px;
}

.hero__section > .container {
  color: var(--color-white);
  max-width: 1200px;
}

.hero__section > .container > .hero__container_wrapper {
  position: relative;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 709px;
  border-radius: 16px;
  background-image: linear-gradient(
      357.37deg,
      rgba(0, 0, 0, 0.4) 39.23%,
      rgba(0, 0, 0, 0) 66.28%
    ),
    url('../../img/hero-mobile-1x.jpg');
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero__section > .container > .hero__container_wrapper {
    background-image: linear-gradient(
        357.37deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../../img/hero-mobile-2x.jpg');
  }
}

@media (min-width: 768px) {
  .hero__section > .container > .hero__container_wrapper {
    padding: 0 32px;
    width: 704px;
    height: 857px;
    border-radius: 30px;
    background-image: linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      ),
      url('../../img/hero-tablet-1x.jpg');
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero__section > .container > .hero__container_wrapper {
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        ),
        url('../../img/hero-tablet-2x.jpg');
    }
  }
}

@media (min-width: 1280px) {
  .hero__section > .container > .hero__container_wrapper {
    padding: 0 64px;
    width: 1152px;
    height: 629px;
    background-image: linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      ),
      url('../../img/hero-desktop-1x.jpg');
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero__section > .container > .hero__container_wrapper {
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        ),
        url('../../img/hero-desktop-2x.jpg');
    }
  }
}

/* Hero Title */
.hero__title {
  padding-top: 425px;
  margin-bottom: 40px;
  font-size: 38px;
  line-height: 40px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .hero__title {
    padding-top: 260px;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 70px;
    max-width: 488px;
  }
}

@media (min-width: 1280px) {
  .hero__title {
    padding-top: 164px;
    max-width: 564px;
  }
}

.hero__title > span {
  color: var(--color-light-green);
}

/* Hero Button */
.hero_button {
  display: inline-block;
  color: var(--color-white);
  background: var(--color-green);
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 78px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .hero_button {
    padding: 16px 64px;
    font-size: 18px;
    line-height: 28px;
  }
}

/* Hero Anchor Scroll */
.hero__anchor_scroll {
  position: absolute;
  right: 14px;
  bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--color-white);
  outline: none;
}

@media (min-width: 768px) {
  .hero__anchor_scroll {
    right: 32px;
    bottom: 32px;
    width: 48px;
    height: 48px;
  }
}

.hero__anchor_scroll > svg {
  fill: var(--color-green);
}
.hero__anchor_scroll:hover,
.hero__anchor_scroll:focus {
  background: var(--color-green);
}
.hero__anchor_scroll:hover > svg,
.hero__anchor_scroll:focus > svg {
  fill: var(--color-white);
}
