/* Our lessons Section */
.lessons {
  text-align: center;
  letter-spacing: -0.02em;
  padding: 40px 20px;
}

.lessons__title {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 16px;
}

.lessons__title span::after {
  content: '';
  position: absolute;
  top: 26px;
  left: 63px;
  width: 116px;
  height: 12px;
  background-color: var(--color-green-pseudo);
  z-index: -1;
  border-radius: 8px;
}

.lessons__description {
  max-width: 665px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(18, 20, 23, 0.5);
  margin: 0 auto 40px;
}

.lessons__plans {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  justify-content: center;
}

.plan {
  background-color: var(--color-white);
  color: rgba(18, 20, 23, 0.5);
  border-radius: 16px;
  border: 1px solid var(--color-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.plan--standard {
  background-color: var(--color-green);
  color: var(--color-white);
}
.plan__title {
  font-weight: 700;
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-black);
}

.plan--standard .plan__title {
  color: var(--color-white);
}

.plan__price {
  font-weight: 700;
  margin-top: 16px;
  font-size: 32px;
  line-height: 36px;
  color: var(--color-black);
}

.plan--standard .plan__price {
  color: var(--color-white);
}

.plan__description {
  font-size: 14px;
  margin-bottom: auto;
  line-height: 24px;
  margin: 40px 16px 20px 16px;
}

.plan__button {
  display: inline-block;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 14px 18%;
  border: 1px solid var(--color-light-green);
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  margin: 0 20px 40px 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.plan__button:hover {
  background-color: var(--color-dark-green);
}

.plan--standard .plan__button:hover {
  background-color: var(--color-white);
  color: var(--color-green);
}

@media (min-width: 375px) {

  .plan {
    width: 336px;
    height: 400px;
  }
  .plan__button {
    width: 304px;
    height: 60px;
    padding: 16px 78px;
  }
}

@media (min-width: 768px) {
  .lessons {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .lessons__plans {
    grid-template-columns: repeat(2, 1fr);
  }

  .lessons__title {
    font-size: 40px;
    margin-bottom: 16px;
    line-height: 48px;
  }
  .lessons__title span::after {
    top: 31px;
    left: 80px;
    width: 144px;
    height: 20px;
  }

  .lessons__description {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 64px;
  }
  .plan {
    width: 336px;
    height: 404px;
  }
  .plan__title {
    margin-top: 32px;
  }
  .plan__description {
    font-size: 16px;
    margin-top: 32px;
  }
  .plan__button {
    font-size: 18px;
    margin-bottom: 32px;
    padding: 16px 63px;
  }
}

@media (min-width: 1280px) {
  .lessons {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .lessons__title {
    line-height: 48px;
  }


  .lessons__plans {
    grid-template-columns: repeat(3, 1fr);
  }

  .plan {
    width: 320px;
    height: 404px;
  }

  .plan__description {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .plan__button {
    width: 256px;
    padding: 16px 39px;
  }
}
