.our__teachers {
    text-align: center;
    letter-spacing: -0.02em;
    padding: 80px 20px;
}

.teachers__title {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
}

.teachers__title span {
    position: relative;
    display: inline-block;
}

.teachers__title span::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #BEE8CC;
    z-index: -1;
    border-radius: 8px;
}

.teachers__description {
    max-width: 665px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(18, 20, 23, 0.5);
    margin: 0 auto 40px;
}

.teachers__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.teacher {
    background-color: var(--color-white);
    color: rgba(18, 20, 23, 0.5);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.teacher__name {
    font-weight: 700;
    margin-top: 16px;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
}

.teacher__description {
    font-size: 14px;
    margin-bottom: auto;
    line-height: 24px;
    margin: 40px 16px 20px 16px;
}

@media (min-width: 375px) {
    .teachers__title::before {
        left: 140px;
    }
    .teacher {
        width: 336px;
        height: 400px;
    }
}

@media (min-width: 768px) {
    .teachers__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .teachers__title {
        font-size: 40px;
        margin-bottom: 16px;
        line-height: 48px;
    }

    .teachers__title span::after {
        height: 16px;
    }

    .teachers__title::before {
        top: 31px;
        left: 318px;
        width: 144px;
        height: 20px;
    }

    .teachers__description {
        font-size: 18px;
        line-height: 30px;
        margin: 0 auto 64px;
    }
    .teacher {
        width: 336px;
        height: 404px;
    }
    .teacher__name {
        margin-top: 16px;
    }
    .teacher__description {
        font-size: 16px;
        margin-top: 32px;
    }
}

@media (min-width: 1280px) {

    .teachers__title {
        line-height: 48px;
    }

    .teachers__title span::after {
        height: 20px;
    }

    .teachers__title::before {
        top: 31px;
        left: 478px;
        width: 144px;
        height: 20px;
    }
    .teachers__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .teacher {
        width: 280px;
        height: 404px;
    }

    .teacher__description {
        margin-top: 16px;
        margin-bottom: 32px;
    }
}
