/* Basic Styles */
footer {
    background-color: #121212;
    color: var(--color-white);
    padding: 40px 20px 20px;
}

@media (min-width: 767px) {
    footer {
        padding: 32px 32px 0;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer Content */
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo__text {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.36;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.footer__logo-highlight {
    color: var(--color-green);
}

.footer__address {
    margin-bottom: 40px;
}

.footer__address__list {
    list-style: none;
    padding: 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.footer__address--phone,
.footer__address--address--text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
}

.footer__address--phone--link,
.footer__address--address--text--second-line {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28;
}

.footer__links {
    margin-bottom: 48px;
}

.footer__links--list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__links__list--item {
    margin-bottom: 10px;
}

.footer__links--link {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28;
}

.footer__links--link:hover {
    color: #4caf50;
}

.footer__social {
    margin-bottom: 40px;
}

.footer__social--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer__social--icons--link {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
}

.footer__social--icon {
    width: 26px;
    height: 26px;
    fill: var(--color-white);
    opacity: 0.8;
}

/* Footer Bottom */
.footer__bottom {
    border-top: 1px solid #333;
    padding-top: 20px;
}

.footer__bottom p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
}

.footer__bottom--links {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px;
}

.footer__bottom--links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
}