<section class="hero__section">
  <div class="container">
    <div class="hero__container_wrapper">
      <h1 class="hero__title">
        Discover the joy of learning <span>English</span> with us!
      </h1>
      <a href="#leave_an_application" class="hero_button"
        >Leave an application</a
      >
      <a class="hero__anchor_scroll" href="#footer">
        <svg width="20" height="20">
          <use href="img/icons.svg#icon-angle-dw" />
        </svg>
      </a>
    </div>
  </div>
</section>
