<!-- Section "Our Lessons" -->
<section class="lessons" id="lessons">
  <div class="container">
    <h2 class="lessons__title">Our <span>lessons</span></h2>
    <p class="lessons__description">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>

    <ul class="lessons__plans">
      <li class="plan plan--practice">
        <h3 class="plan__title">Practice</h3>
        <p class="plan__price">40$ / month</p>
        <p class="plan__description">
          This plan offers an opportunity for learners to engage in
          collaboration language practice sessions, boosting their
          conversational skills and confidence using English.
        </p>
        <a class="plan__button" href="#leave_an_application">Leave an application</a>
      </li>

      <li class="plan plan--standard">
        <h3 class="plan__title">Standard</h3>
        <p class="plan__price">70$ / month</p>
        <p class="plan__description">
          Our standard package provides a balanced approach that covers all key
          aspects of language learning: reading, writing, listening, and
          speaking. It is ideal for basic knowledge and skills.
        </p>
        <a class="plan__button" href="#leave_an_application">Leave an application</a>
      </li>

      <li class="plan plan--individual">
        <h3 class="plan__title">Individual</h3>
        <p class="plan__price">99$ / month</p>
        <p class="plan__description">
          We offer a tailored learning experience with additional mentoring
          sessions to enhance a learner’s specific language goals and
          challenges, offering personalized feedback.
        </p>
        <a class="plan__button" href="#leave_an_application">Leave an application</a>
      </li>
    </ul>
  </div>
</section>
