<section class="our__teachers">
  <div class="container">
    <h2 class="teachers__title">Meet our <span>teachers</span></h2>
    <p class="teachers__description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>

    <ul class="teachers__list">
      <li class="teacher">
        <div class="teacher__image">
          <img src="./img/teacher-maria-1x.png"
               srcset="./img/teacher-maria-1x.png 1x, ./img/teacher-maria-2x.png 2x"
               alt="Portrait of Maria">
        </div>
        <h3 class="teacher__name">Maria</h3>
        <p class="teacher__description">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>

      <li class="teacher">
        <div class="teacher__image">
          <img src="./img/teacher-artem-1x.png"
               srcset="./img/teacher-artem-1x.png 1x, ./img/teacher-artem-2x.png 2x"
               alt="Portrait of Artem, wearing glasses in pondering pose">
        </div>
        <h3 class="teacher__name">Artem</h3>
        <p class="teacher__description">
          With his innovative teaching techniques and a focus
          on interactive learning, Artem excels in keeping students
          engaged and motivated
        </p>
      </li>

      <li class="teacher">
        <div class="teacher__image">
          <img src="./img/teacher-ilona-1x.png"
               srcset="./img/teacher-ilona-1x.png 1x, ./img/teacher-ilona-2x.png 2x"
               alt="Portrait of Ilona, wearing glasses and smiling showing teeth">
        </div>
        <h3 class="teacher__name">Ilona</h3>
        <p class="teacher__description">
          A specialist in advanced English,
          Ilona provides intensive instruction, ensuring students gain
          confidence in complex language tasks
        </p>
      </li>

      <li class="teacher">
        <div class="teacher__image">
          <img src="./img/teacher-volodymyr-1x.png"
               srcset="./img/teacher-volodymyr-1x.png 1x, ./img/teacher-volodymyr-2x.png 2x"
               alt="Portrait of Volodymyr, smiling showing teeth">
        </div>
        <h3 class="teacher__name">Volodymyr</h3>
        <p class="teacher__description">
          Our expert in English for specific purposes,
          Volodymyr tailors his approach to meet individual career
          and industry-specific language needs
        </p>
      </li>
    </ul>
  </div>
</section>
