<section class="reviews__section">
  <div class="container">
    <div class="reviews__title--block">
      <h2 class="reviews__title">
        What our
        <span class="reviews__title--highlight">students</span>
        say
      </h2>
      <p class="reviews__title--description">
        Hear from our students about their learning journey
        with us, as they share their experiences, progress,
        and the transformative impact
      </p>
    </div>
    <div class="reviews__content">
      <ul class="reviews__content--list">
        <li class="reviews__content--list--item">
          <div class="reviews__content--list--item--header">
            <img
              src="./img/student-anna-1x.png"
              srcset="./img/student-anna-2x.png 2x"
              alt="Anna"
              class="reviews__reviewer--image"
            />
            <p class="reviews__reviewer--name">Anna</p>
            <p class="reviews__reviewer--title">Student</p>
          </div>
          <p class="reviews__feedback">
            My experience at the language school has been
            nothing short of amazing.
            The teachers are dedicated and the learning
            environment is stimulating. I feel more confident
            in my English skills.
          </p>
        </li>
        <li class="reviews__content--list--item">
          <div class="reviews__content--list--item--header">
            <img
              src="./img/student-mykhailo-1x.png"
              srcset="./img/student-mykhailo-2x.png 2x"
              alt="Mykhailo"
              class="reviews__reviewer--image"
            />
            <p class="reviews__reviewer--name">Mykhailo</p>
            <p class="reviews__reviewer--title">Student</p>
          </div>
          <p class="reviews__feedback">
            The school offers a great balance of language theory
            and practical exercises. The personalized feedback
            from the teachers has helped me improve my weak areas.
          </p>
        </li>
        <li class="reviews__content--list--item">
          <div class="reviews__content--list--item--header">
            <img
              src="./img/student-victoria-1x.png"
              srcset="./img/student-victoria-2x.png 2x"
              alt="Victoria"
              class="reviews__reviewer--image"
            />
            <p class="reviews__reviewer--name">Victoria</p>
            <p class="reviews__reviewer--title">Student</p>
          </div>
          <p class="reviews__feedback">
            I love the dynamic and interactive teaching methods
            used here. It's a great place to learn English
            in a fun and effective way. I have definitely seen
            a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>