@import url('./base/colors.css');
@import url('./base/common.css');

@import url('./utils/reset.css');

@import url('./layout/01-header.css');
@import url('./layout/02-hero.css');
@import url('./layout/03-about-us.css');
@import url('./layout/04-our-lessons.css');
@import url('./layout/05-proposal.css');
@import url('./layout/06-our-teachers.css');
@import url('./layout/07-leave.css');
@import url('./layout/08-reviews.css');
@import url('./layout/09-footer.css');
